:root {
  --primary-color: #282A2C;
  --accent-color: #81C784;
  --text-color: #E0E0E0;
  --secondary-color: #757577;
  --background-color: #1B1C1D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}